<header class="site-header">

  <div class="wrapper">

    <div class="language-wrapper">
      <div class="empty">E</div>
      <a class="language-selector" href="#">English</a>
    </div><!-- /.language-wrapper -->

    <a class="site-title site-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>

  </div><!-- /.wrapper -->

  <div class="links">
    <a class="icon search-icon" href="#">Busca</a>
    <a class="icon facebook-icon" href="#">Facebook</a>
    <a class="icon contact-icon" href="#">Contato</a>
  </div><!-- /.links -->

  <div class="menu">
    <a class="arquivos" href="#">arquivo</a>
  </div><!-- /.menu -->
</header>
